# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
.env.local
.env.production

# Django
staticfiles/
media/*
!media/.gitkeep
*.log
db.sqlite3
test_db.sqlite3
test_prod.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/
