{% extends "base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block pre_footer %}{% endblock %}

{% block content %}
<div class="shop-home">
    {% include "includes/_hero.html" %}
    {% include "includes/_home_trust_strip.html" %}
    {% include "includes/_home_categories.html" %}
    {% include "includes/_home_recommended_products.html" %}
    {% include "includes/_home_new_arrivals.html" %}
    {% include "includes/_home_editorial.html" %}
    {% include "includes/_home_promo_sale_products.html" with products=promo_sale_products %}
    {% include "includes/_home_how_it_works.html" %}
    {% include "includes/_home_trust_details.html" %}
    {% include "includes/_home_cta_band.html" %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}" defer></script>
<script src="{% static 'js/home-recommended.js' %}" defer></script>
{% endblock %}
