{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:"Kod Pendule admin" }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:"Kod Pendule — administracija" }}</a></div>
{% if user.is_staff %}
<div class="dashboard-nav-link">
    <a href="{% url 'dashboard:index' %}">{% trans "Shop analytics" %}</a>
</div>
{% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}
