<div class="mb-3">
    {% if field.field.widget.input_type == "checkbox" %}
        <div class="form-check">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
    {% else %}
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    {% endif %}
    {% if field.help_text %}
        <p class="form-text">{{ field.help_text }}</p>
    {% endif %}
    {% for error in field.errors %}
        <p class="invalid-feedback d-block">{{ error }}</p>
    {% endfor %}
</div>
